mysql:
  image: mysql:8.0
  container_name: mysql_openote
  restart: unless-stopped
  env_file:
    - .env
  volumes:
    - mysql_openote_data:/var/lib/mysql

  command:
    - --bind-address=0.0.0.0
    - --max-connections=10
    - --wait-timeout=30
    - --interactive-timeout=30
    - --innodb-buffer-pool-size=64M
    - --innodb-thread-concurrency=1
    - --innodb-read-io-threads=1
    - --innodb-write-io-threads=1
    - --event-scheduler=OFF

  mem_limit: 384m
  cpus: 0.25
