version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_openote
    restart: unless-stopped
    env_file: .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_openote_data:/var/lib/mysql

  app:
    image: ghcr.io/felipeferreirah/openote:latest
    container_name: openote_app
    restart: unless-stopped
    env_file: .env
    depends_on:
      - mysql
    ports:
      - "3000:3000"

volumes:
  mysql_openote_data:
