services:
  mysql:
    image: mysql:8.0
    container_name: mysql_openote
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - mysql_openote_data:/var/lib/mysql

    command: >
      mysqld
      --bind-address=0.0.0.0
      --max-connections=5

    ports:
      - "3306:3306"

  app:
    build: .
    container_name: openote_app
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - mysql
    ports:
      - "3000:3000"

volumes:
  mysql_openote_data:
