version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_openote
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: 
      MYSQL_DATABASE: 
      MYSQL_USER: 
      MYSQL_PASSWORD: ""
      TZ: America/Sao_Paulo

    ports:
      - "3306:3306"

    volumes:
      - mysql_openote_data:/var/lib/mysql

    command:
      - --bind-address=0.0.0.0
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-authentication-plugin=mysql_native_password

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_openote_data:
    driver: local
